.hero {
  background: linear-gradient( rgba(0,0,0,.8), rgba(0,0,0,.8) ), url('./img//heroImg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  color: white;
}

.text {
  animation-duration: 2s;
  animation-name: slidein;
  animation-delay: 1.5s;
}

@keyframes slidein {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);

    opacity: 1;
  }
}